{% extends 'base.html' %}

{% block title %} Edit Page {% endblock %}

{% block style %}
    #message{
      position: fixed;
      top: 20px;
      right: 12px;
      width: 300px;
    }
{% endblock %}

{% block content %}
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-sm-8 bg-light p-4 rounded-3 shadow">
      {% if company %}
        <form action="" method="" id='form'>
          {% csrf_token %}
          <h3 class="text-center mb-4">Edit Company Details</h3>
          {% include 'companies/form.html' %}
        </form>
      {% else %}
        <div class="alert alert-warning text-center mt-4">
          <strong>Company Not Found.</strong>
        </div>
      {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
